@using SharedVm
@model IList<MaterialVm>

<li>
    <a href="#">Material <span class="caret"></span></a>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li><a href="#">@item.Name</a></li>
        }
    </ul>
</li>