@using SharedVm
@using Common
@model IList<MaterialVm>

<li>
    <a href="#">Material <span class="caret"></span></a>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li><a asp-controller="ProductClient" asp-action="Index" asp-route-id="@item.ID" asp-route-type="@Constants.TYPE_BANNER_MATERIAL.ToString()">@item.Name</a></li>
        }
    </ul>
</li>